services:

	mailform.mailformFormFactory:
		class: MailformModule\Forms\MailformFormFactory
		setup:
			- injectFactory(@cms.admin.ajaxFormFactory)


	mailform.mailformfrontFormFactory:
		class: MailformModule\Forms\MailformfrontFormFactory
		setup:
			- injectFactory(@cms.admin.basicFormFactory)

factories:
	mailform.mailControl:
		class: MailformModule\Components\MailControl(%mailformEntity%)
		parameters: [mailformEntity]
		tags: [component]
