services:

	mailform.mailformContent:
		class: CmsModule\Content\ContentType('MailformModule\Entities\PageEntity')
		setup:
			- addSection('Content', @mailform.mailformFormFactory)
		tags: [contentType: [name: 'mail form']]

includes:
	- presenters.neon
	- components.neon
